/**
 * @name BasicBackground
 * @description Allows you to use a Background Image without greatly altering the basic Layout of Discord
 * @author DevilBro
 * @version 1.0.5
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BasicBackground/
 * @updateUrl https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.theme.css
 */

/* To change stuff like the colors, transparency and background image, change the variables inside the root {}, do NOT change the @import url() */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css);

:root {
	 --background: url('https://i.imgur.com/NoDfnn5.gif');
  --backgroundsize: cover;
  --backgroundposition: center;
  --backgroundblur: 0px;
  --popout: url('https://i.imgur.com/6HMpSuu.jpg');
  --popoutsize: cover;
  --backgroundposition: center;
  --popoutblur: 0px;
  --transparencycolor: 20,0,33;
  --accentcolor: 161,2,255;
  --backdrop: rgb(95,0,105,0.99);
  --textshadow: rgb(209,0,233,0.45);
  --transparencyalpha: 0.08;
  --messagetransparency: 0.74;
  --guildchanneltransparency: 0.18;
  --chatinputtransparency: 0;
  --memberlisttransparency: 0.22;
  --font: Renogare;
  --textbrightest: 255,255,255;
  --textbrighter: 255,255,255;
  --textbright: 200,200,200;
  --textdark: 160,160,160;
  --textdarker: 125,125,125;
  --textdarkest: 90,90,90;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;														*/
}
