/**
 * @name BasicBackground
 * @description Allows you to use a Background Image without greatly altering the basic Layout of Discord
 * @author DevilBro
 * @version 1.0.5
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BasicBackground/
 * @updateUrl https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.theme.css
 */

/* To change stuff like the colors, transparency and background image, change the variables inside the root {}, do NOT change the @import url() */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css);

:root {
  --background: url('https://i.imgur.com/jLP68Zk.jpg');
  --backgroundsize: cover;
  --backgroundposition: center;
  --backgroundblur: 0px;
  --popout: url('https://i.imgur.com/Qhnyq7M.jpg');
  --popoutsize: cover;
  --backgroundposition: center;
  --popoutblur: 0px;
  --transparencycolor: 255,255,255;
  --accentcolor: 255,241,117;
  --backdrop: rgb(255,186,82,0.85);
  --textshadow: rgb(153,255,0,0);
  --transparencyalpha: 0;
  --messagetransparency: 0.26;
  --guildchanneltransparency: 0.2;
  --chatinputtransparency: 0;
  --memberlisttransparency: 0.74;
  --font: Renogare;
  --textbrightest: 251,224,0;
  --textbrighter: 183,170,13;
  --textbright: 177,169,0;
  --textdark: 111,96,0;
  --textdarker: 79,71,0;
  --textdarkest: 73,59,0;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
}
